body {
  background-color: white;
  margin: 0;
}

body, 
input, 
textarea {
    font-family: Georgia, serif;
    color:#383838;
    font-size: 10pt;
    line-height:1.6em;
}

.friendfeed.badge {
    font-family: Georgia, serif !important;
}
.friendfeed.badge a {
    text-decoration: none !important;
}

img {
  border: 0;
}

div {
  position: relative;
}

form {
  margin: 0;
  padding: 0;
}

h1, 
h2, 
h3 {
  margin: 0;
}

form {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #802e00;
  height: 56px;
  position: relative;
}

#logo {
  font-size: 16pt;
  padding-left: 30px;
  padding-top: 15px;
}

#logo a,
#logo a:visited {
  color: white;
  text-decoration: none;
}

#logo a:hover {
  text-decoration: underline;
}

#search {
  position: absolute;
  top: 16px;
  right: 30px;
}

#search input {
  font-size: 10pt;
}

#body {
  margin: 30px;
  max-width: 650px;
  float: left;
}

#sidebar {
  margin: 30px;
  float: right;
  width: 250px;
}

#sidebar .box {
  margin-bottom: 1em;
}

a { 
    color: #802e00;
    text-decoration: none;
}
a:visited {
    color: #705050;
}

a.new ,
a.new:visited {
  color: green;
  padding-left: 20px;
  background: url('../images/page_add.png') left center no-repeat;
}

a.edit {
  padding-left: 20px;
  background: url('../images/page_edit.png') left center no-repeat;
}

a.delete {
  padding-left: 20px;
  background: url('../images/page_delete.png') left center no-repeat;
}

.entry.full h1 a.delete,
.entry.full h1 a.delete:visited,
.entry.full h1 a.edit,
.entry.full h1 a.edit:visited {
  text-decoration: underline;
  font-size: 10pt;
  color: red;
  font-weight: normal;
}

.navigation {
  font-size: 10pt;
  margin-bottom: 1em;
}

.navigation .next {
  position: absolute;
  right: 0;
  z-index: 1;
}

.infomessage {
  margin-bottom: 1em;
}

#footer {
  margin: 5em 0px 0px;
  padding: 10px 30px;
  border-top: 1px solid #802e00;
}

.entry.full {
  clear: both;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px dotted #d0d0d0;
}

.entry.full.permalink {
  margin-bottom: 1em;
}

.entry.full h1 {
    font-weight: normal;
}

.entry.full h1 a,
.entry.full h1 a:visited {
  text-decoration: none;
  color: #802e00;
}

.date { 
    color: #666;
}
.entry.full .date {
  margin-top: 0.25em;
}

.entry.full .body {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.3em;
}

.entry.full .body p {
  margin: 0;
  margin-bottom: 1em;
}

.entry.full .body h2 {
  margin-bottom: 0.25em;
}

.entry .tags {
  background: url('../images/tag_blue.png') left center no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.entry .tags a {
    margin: 0px 3px;
    background: #f7eeee;
    border-bottom: 1px solid #f0e0e0;
    border-right: 1px solid #f0e0e0;
    padding: 2px 3px;
}

.entry.summary {
  margin-bottom: 1.5em;
}

#sidebar .entry.summary {
  margin-bottom: .25em;
}

.entry.summary h1 {
  font-weight: normal;
  font-size: 14pt;
}

.entry.summary .date {
  font-size: 12pt;
}

#sidebar .entry.summary .date {
  font-size: 8pt;
}

.entry.summary .body {
  margin-bottom: .5em;
  margin-top: .5em;
  line-height: 1.3em;
}

.entry .comments {
  background: url('../images/comments.png') left center no-repeat;
  padding-left: 20px;
}

ul {
  margin: 0;
  margin-bottom: 1em;
}

ul li {
  margin-bottom: 0.3em;
}

code {
    background-color:#F3F3F3;
    color:black;
    display:block;
    font-family:Monaco,monospace;
    font-size:11.5px;
    line-height:1.6em;
    margin:0.8em -22px -20px 0;
    padding:1em 0.8em;
    text-align:left;
    text-shadow:0 0 1px #F3F3F3;
}

blockquote {
    font-style: italic;
    margin-bottom: 1em;
}

#new th, #new td { 
    padding: 6px;
}

#new textarea {
    width: 600px;
    height: 400px;
}

.lF {
    float: left;
}
.cF {
    clear: both;
}
