{% extends "entries.html" %}

{% block title %}
    Archive - 
{% endblock %}

{% block entry_class %}entry summary{% endblock %}

{% block body %}
    {% for entry in entries %}
        <div class="entry summary">
            <h1>
                <a href="/e/{{ entry.slug }}">{{ entry.title }}</a>
                <span class="date" title="{{ entry.published }}">
                    - {{ entry.published|timesince }} ago
                </span>
            </h1>
            <div class="body">
                {{ entry.body|striptags|truncatewords:50 }}
            </div>
            {% include "tagsncomments.html" %}
        </div>
    {% endfor %}
{% endblock %}
