{% extends "base.html" %}

{% block body %}
    <form id="new" method="post">
        <table>
            <tr>
                <th>Title:</th><td>{{ form.title }}</td>
            </tr>
            <tr>
                <th valign="top">Body:</th><td>{{ form.body }}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td>
                    <input type="text" name="tags" value="{{ tags }}"/>
                    (Comma separated)
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Post"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
